
/* Header Section */

.header {
    display: grid;
    grid-template-areas:
        "img name"
        "img title";
}

.header-logo {
    grid-area: img;
    height: auto;
    max-height: 100%;
    align-self: center;
}

.header-name {
    grid-area: name;
    text-align: right;
    font-size: 20pt;
    font-weight: normal;
    margin: 0px;
}

.header-title {
    grid-area: title;
    text-align: right;
    font-size: 12pt;
    font-weight: normal;
    margin: 0px;
}

/* Project Section */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    min-width: 320px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

